
.property-component {
  width:100vw;
  /* margin: 0 auto; */
  height: 100vh;
  position: relative;
}

.background-1 {
  background-image: url("../images/property1.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-2 {
  background-image: url("../images/property2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-3 {
  background-image: url("../images/property3.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.property1-copy-container {
  background-color: #0a0405;
  z-index: 3;
  width: 465px;
  padding: 55px
}

.property2-copy-container {
  background-color: #0a0405;
  z-index: 3;
  max-width: 465px;
  padding: 55px

}

.property3-copy-container {
  background-color: #0a0405;
  z-index: 3;
  max-width: 465px;
  padding: 55px

}


.property-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.property-subtitle {
  color: #93a21e;
  font-size: 16px;
  margin-bottom: 15px;
}

.property-copy {
  color: white;
  max-width: 465px;
  margin-bottom:10px
}

.property-mob-copy {
  color: white;
  margin-bottom:10px
}

.property-number {
  font-size: 85px
}

.sq-ft {
  font-size: 18px
}

.ranks-5th {
  font-size: 16px;
  display:inline-block;
}

.light-copy {
  color: white
}

.bubble {
  color: white;
  position: absolute;
  border-radius: 50%;
  padding: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: light;
  text-align: center;
}

#orange1 {
  background-color: rgba(185, 122, 60, 0.85);
  height: 230px;
  width: 230px;
  top: 70px;
  right: 45%
}

#purple1 {
  background-color: rgba(96, 30, 106, 0.85);
  height: 160px;
  width: 160px;
  top: 265px;
  left: 75%
}

#green1 {
  background-color: rgba(149, 166, 39, 0.85);
  height: 220px;
  width: 220px;
  top: 68%;
  right: 30%
}

#aqua1 {
  background-color: rgba(8, 132, 147, 0.85);
  height: 200px;
  width: 200px;
  top: 355px;
  left: 13%
}

#orange2 {
  background-color: rgba(185, 122, 60, 0.85);
  height: 200px;
  width: 200px;
  top: 55px;
  right: 42%;
}

#purple2 {
  background-color: rgba(96, 30, 106, 0.85);
  height: 160px;
  width: 160px;
  top: 60%;
  right: 20%;
}

#aqua2 {
  background-color: rgba(8, 132, 147, 0.85);
  height: 160px;
  width: 160px;
  top: 50%;
  left: 15%
}

.chevron {
  height: 75px;
  width: 75px;
  filter: opacity(.75)
}

.chevron:hover {
  filter:brightness(2);
  color:black;
}

.current-slide {
  /* height: 100px */
}

.bigger-text {
  font-size: 16px
}

.prop-img {
  height: 240px;
  width: 100%;
  object-fit:cover;
}

.mobile-copy {
  background-color: #0a0405;
  color:white;
  padding: 10%;
}

.bubble-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bubble-list li {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 10px
}

.mobile-bubble {
  height:37px;
  width:37px;
  border-radius: 50%;
  background-color: white;
}

.mobile-bubble-copy {
  font-size: 14px;
  width:85%;

}

#mob-orange {
  background-color: rgba(185, 122, 60, 0.85);

}

#mob-aqua {
  background-color: rgba(8, 132, 147, 0.85);
}

#mob-purple {
  background-color: rgba(96, 30, 106, 0.85);

}

#mob-green {
  background-color: rgba(149, 166, 39, 0.85);

}

.carousel_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 20px;
  margin-left: 470px;
}

.carousel_control {
  height: 15px;
  width: 15px;
  border: 1px solid darkgrey;
  border-radius: 50%;
  margin-right: 10px;
}

.carousel_control.active {
  background-color: black;
  border: 1px solid black;
}
