
.property-component {
  width:100vw;
  margin: 0 auto;
  height: 90vh;
  position: relative;
}

.background-1 {
  background-image: url("../images/property1.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-2 {
  background-image: url("../images/property2.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-3 {
  background-image: url("../images/property3.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.property1-copy-container {
  position: absolute;
  z-index: 3;
  max-width: 465px;
  top: 10px;
  left: 785px;
}

.property2-copy-container {
  position: absolute;
  z-index: 3;
  max-width: 465px;
  top: 65px;
  left: 630px;
}

.property3-copy-container {
  position: absolute;
  z-index: 3;
  max-width: 465px;
  top: 540px;
  left: 900px;
}

/* .property-container {
  width: 100vw;
  height: auto;
} */

.property-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.property-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.property-copy {
  max-width: 465px;
  margin-bottom:10px
}

.property-number {
  font-size: 85px
}

.sq-ft {
  font-size: 18px
}

.ranks-5th {
  font-size: 16px;
  display:inline-block;
}

.light-copy {
  color: white
}

.bubble {
  color: white;
  position: absolute;
  border-radius: 50%;
  padding: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: light;
  text-align: center;
}

#orange1 {
  background-color: rgba(185, 122, 60, 0.85);
  height: 230px;
  width: 230px;
  top: 55px;
  left: 310px;
}

#purple1 {
  background-color: rgba(96, 30, 106, 0.85);
  height: 160px;
  width: 160px;
  top: 265px;
  left: 585px
}

#green1 {
  background-color: rgba(149, 166, 39, 0.85);
  height: 200px;
  width: 200px;
  top: 545px;
  left: 800px
}

#aqua1 {
  background-color: rgba(8, 132, 147, 0.85);
  height: 200px;
  width: 200px;
  top: 355px;
  left: 50px
}

#orange2 {
  background-color: rgba(185, 122, 60, 0.85);
  height: 200px;
  width: 200px;
  top: 55px;
  left: 360px;
}

#purple2 {
  background-color: rgba(96, 30, 106, 0.85);
  height: 160px;
  width: 160px;
  top: 450px;
  left: 1015px
}

#aqua2 {
  background-color: rgba(8, 132, 147, 0.85);
  height: 160px;
  width: 160px;
  top: 335px;
  left: 80px
}
