.navbar {
  min-height: 35px;
  border-radius: none
}

.navbar-default {
  background-image: none;
  background-color: #d6edee;
  border: none;
  /* color: green; */
  margin: 0;
  width: 100%;
  box-shadow: none;
  height: 35px;
  border-radius: none;
  display: flex;
}

.navbar-nav {
  float: none;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  max-height: 35px
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 8px;
    border-bottom-color: none;
}

.active {
  padding: none;
  color: white;
  background-color: #008996
}


.active:hover {
  color: white;
  background-color: #008996
}

.navbar-default .navbar-nav > li > a {
  /* color:inherit; */
  /* opacity: 0; */

}
.active .navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #008996
}

a {
  color:#231f20;
}

.navbar-nav li {
  width: 185px;
  text-align: center;
}

.navbar-toggle {
  margin-top: 2px;
  margin-right: 20px;
  height: 30px;
  background-color: white
}

#annual-link {
  color: #39a3ad
}

#downloads-div {
  background-color: #b8dfe0;
  display: flex;
  justify-content: center;
}

#navbar-mobile-button .navbar-toggle{
  border: none;
  background-color: none;
}

#mack-logo {
  margin-left: 50px
}
