a {
  color: black;
  font-weight: normal;
}

a:not([href]):not([tabindex]):hover {
  color: white;
}

a:hover {
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-pills,
.nav-link {
  border-radius: 0;
  cursor: pointer;
}

.nav-pills a:hover {
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  background-color: #008e98;
  border-radius: 0;
}

.nav-pills .nav-link.active,
.active {
  background-color: #008e98;
  color: white;
}

#annual-link {
  color: #39a3ad;
  font-size: 16px;
}

#menu-icon:focus {
  outline: none;
}

.downloads {
  background-color: #b8dfe0;
  width: 100%;
}

.download-nav {
  list-style: none;
  padding-top: 20px;
}

.download-img {
  width: 150px;
}

.download-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 30%;
  margin-right: 20px;
}

#mack-logo {
  margin-left: 50px;
  height: 110px;
}

.custom-nav {
  background-color: #d6edee;
  color: black;
}
