a {
  color: black;
  font-weight: normal;
}

a:not([href]):not([tabindex]):hover {
  color: white;
}

a:hover {
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-pills,
.nav-link {
  border-radius: 0;
  cursor: pointer;
}

.nav-pills a:hover {
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  background-color: #008e98;
  border-radius: 0;
}

.nav-pills .nav-link.active,
.active {
  background-color: #008e98;
  color: white;
}

#annual-link {
  color: #39a3ad;
  font-size: 16px;
}

#menu-icon:focus {
  outline: none;
}


#mack-logo {
  margin-left: 50px;
  width: 200px;
  padding: 5px;
  padding-left: 1rem;
}

#annual-link {
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  #mack-logo {
    margin-left: 10px;
  }

  #annual-link {
    margin-left: 10px;
  }
}

.custom-nav {
  background-color: #d6edee;
  color: black;
}
