.construction-container {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 100px;
  margin: 0 auto;
  color: black;
}

.stockholder-container {
  /* grid-template-columns: 200px 1fr 200px; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  /* margin: 0 200px; */

  position: relative;
}

#first-paragraph,
#stockholder-greeting {
  color: #008996;
}

#first-paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: normal;
}

#stockholder-greeting {
  /* max-width: 1000px; */
  padding: 0;
  margin-left: 15px;
  font-size: 36px;
  font-weight: lighter;
  margin-top: 85px;
}

@media screen and (max-width: 600px) {
  #stockholder-greeting {
    font-size: 32px;
    margin-top: 40px;
  }

  #first-paragraph {
    font-size: 18px;
  }

  .stockholder-container p {
    font-size: 16px;
  }
}

.stockholder-container p {
  font-weight: lighter;
  font-size: 18px;

  margin: 0 auto;
  margin-bottom: 20px;
}

.signature-container {
  /* margin: 0 265px; */


  /* font-size: 20px; */
}

.center-container {
  /* max-width: 1000px; */
  padding: 0;

}

.signature {
  margin-right: 75px;
  margin-left: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* font-weight: lighter; */
}

.signature img {
  width: 200px;
}

.signature div {
  display: inline-block;
  color: #008996;
}

.sig-date {
  margin-left: 15px;
}

.stockholder-stats-container {
  width: 175px;
}

.stackholder-stats {
}

.dollar {
  font-size: 75px;
  font-weight: lighter;
  display: inline-block;
  color: #008996;
}

.stat-number {
  font-size: 85px;
  /* font-weight: bold; */
  color: #008996;
  /* display: inline-block; */
}

.stat-number img {
  height: 60px;
  display: inline;
}

#by-2018 {
  color: #008996;
  font-size: 18px;
}

.stats-title {
  font-size: 16px;
  color: #aab73d;
  margin-top: 25px;
  margin-bottom: 15px;
}

.stats-copy {
  font-size: 14px;
}

.stockholder-stats-container hr {
  margin-top: 10px;
  border-top: 1px solid black;
  width: 175px;
}

#seventeen {
  position: absolute;
  top: 175px;
  left: 0;
  /* padding-right: 300px */
}

#fiftyeight {
  position: absolute;
  top: 85px;
  left: 0px;
}
